@import 'reset.css';
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #1f1818;
}

.pages{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}
.page{
    transition: transform 200ms ease-out;
}
.nav-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    height: 28px;
    width: 100vw;
    background-color: #313133;
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 5px;
}
.nav-link{
    padding-left: 5px;
}
.nav-link a{
    display: block;
    padding: 4px 8px;
}

a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    color: #fff ;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: .6;
    transition: opacity 100ms ease-in;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}
a:hover{
    opacity: 1;
}
a.active{
    opacity: 1;
}

a:focus{
    outline: none;
}
.grid-container{
    width: 99.1vw;
    height: 94.9vh;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "top-left  top-left  top-right"
    "bot-left  bot-mid    top-right";
    grid-gap: 5px;
    margin-left: 5px;
}
.top-left{
    grid-area: top-left;

}
.top-right{
    grid-area: top-right;
}
.bot-left{
    grid-area: bot-left;
}
.bot-mid{
    grid-area: bot-mid;
}

.page2__grid-container{
    width: 98.9vw;
    height: 94.9vh;
    display: grid ;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "page2-left  page2-top   page2-right"
    "page2-left  page2-bot page2-right";
    grid-gap: 5px;
    margin-left: 11px;
}

.page2__top{
    grid-area: page2-top;
}

.page2__bot{
    grid-area: page2-bot;
}
.page2__left{
    grid-area: page2-left;
}

.page2__right{
    grid-area: page2-right;
    text-align: center;
}