@import 'reset.css';
html {
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: #1f1818;
}

.pages{
    display: flex;
    justify-content: space-between ;
    align-items: center;
    overflow: hidden;
}
.page{
    transition: transform 200ms ease-out;
    width: 100%;
    padding-left: 5px;
    padding-right: 3px;

}
.nav-bar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    height: 32px;
    width: 100vw;
    background-color: #313133;
    list-style-type: none;
    text-transform: capitalize;
    margin-bottom: 3px;
}
.nav-link{
    padding-left: 5px;
    
}
.nav-link a{
    display: block;
    padding: 7px 8px;
    margin-right: 25px;
}

a:-webkit-any-link {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}
a {
    color: #fff ;
    cursor: pointer;
    text-decoration: none;
    outline: none;
    opacity: .2;
    transition: opacity 100ms ease-in;
    font-family: 'Roboto', sans-serif; 
    font-weight: 500;
}
a:hover{
    opacity: 1;
}
a.active{
    opacity: 1;
}

a:focus{
    outline: none;
}
.grid-container{
    width: 99.1vw;
    height: 94.7vh;
    display: grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "top-left  top-left  top-right"
    "bot-left  bot-mid    top-right";
    grid-gap: 5px;
}
.top-left{
    grid-area: top-left;

}
.top-right{
    grid-area: top-right;
}
.bot-left{
    grid-area: bot-left;
}
.bot-mid{
    grid-area: bot-mid;
}

.page2__grid-container{
    width: 98.9vw;
    height: 94.7vh;
    display: grid ;
    grid-template-columns: 1.3fr 1fr 1.3fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "page2-left  page2-top   page2-right"
    "page2-left  page2-bot page2-right";
    grid-gap: 5px;
}

.page2__top{
    grid-area: page2-top;
}

.page2__bot{
    grid-area: page2-bot;
}
.page2__left{
    grid-area: page2-left;
}

.page2__right{
    grid-area: page2-right;
    text-align: center;
}
.about{
    margin-left: auto;
}
.about a{
    opacity: .7;
}
.txt{
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgb(177, 177, 177);
    margin: 3px;
}
h1{
    color: rgb(177, 177, 177);
    font-size: 2em;
    margin-top: 1em;
    margin-bottom: .3em;
}

strong{
    color: #ff6b6b;
}

h2{
    font-size: 1.3em;
    margin-top: 1em;
    margin-bottom: .2em;
}

.txt p{
    text-indent: 10%;
    font-size: 16px;
    margin-bottom: .3em;
    text-align: justify;
    text-justify: distribute;
}

.txt:nth-child(1){
    margin-top: 0em;
    padding-top: 0em;
    color: rgb(155, 155, 155);
}

.team{
    opacity: 1;
    transition: opacity 150ms ease-in;
    display: block;
}

.team:hover{
    opacity: .6;
}